body {
    padding: 0;
    margin: 0;
    background-image: url("../medias/background.png");
    background-color: rgb(50, 50, 50);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}


header {
    height:10vh;
    width: 25%;
    display:flex;
    justify-content:space-around;
    align-items: center;
    text-decoration: none;
    margin-left:50%;
    transform: translateX(-50%);
    background-color:rgb(70, 70, 70);
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
    box-shadow: 0px 10px 50px 0px rgba(0,0,0,0.75);
}

.btn-menu {
    padding:0.6em;
    background-color: yellow;
    border-radius: 0.7em;
    border:none;
    transition:all 156ms ease;
    font-family: "Monaco", monospace, sans-serif;
    font-weight: bolder;
    font-size: 1em;
    animation: grow 700ms ease;
}
.btn-menu:hover {
    box-shadow: 0px 10px 50px 0px rgba(0,0,0,0.75);
}
.btn-menu:active {
    background-color: rgb(255,255,150);
}

@keyframes grow {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}